header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('./OhSoLovely-Scallop2-01.png');
  background-size: 100%;
  margin: 0;
  width: 100%;

  .avi {
    height: 235px;
    width: 235px;
    padding: 1em;
    margin-top: 1em;
    border-radius: 25px;
  }

  .text {
    justify-content: center;
    align-items: center;
    // align-content: center;
    background-color: hsla(0, 0%, 99%, 0.78);
    border-radius: 10px;
    width: 300px;
    height: 225px;
    margin: 1em;
    margin-top: 2em;
    padding: 1em;
    padding-bottom: 0;
  }
}
