header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('./glitterHello.png');
  background-size: 100%;
  margin: 0;
  width: 100%;

  .hello {
    background-image: url('./glitterHello.png');
    background-size: 100%;
    background-position: center;
    height: 220px;
    width: 220px;
  }

  .avi {
    height: 220px;
    width: auto;
    margin: 1em;
    margin-top: 2em;
    border-radius: 10px;
  }

  .text {
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: hsla(0, 0%, 99%, 0.78);
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 1em;
    margin-top: 2em;
    padding: 1em;
    padding-bottom: 0;
    min-width: 200px;
  }
}
