header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-image: url('./OhSoLovely-Geo-Deer-Desktops 3-01.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;

  // .hello {
  //   background-image: url('./ohsolovely-hello-desktop-10-10.png');
  //   background-position: center;
  //   background-size: 250%;
  //   background-repeat: no-repeat;
  //   height: auto;
  //   width: 400px;
  //   margin-top: 2em;
  // }

  .avi {
    height: 220px;
    width: auto;
    margin-top: 2em;
    border-radius: 10px;
    margin-left: 3em;
  }

  .text {
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: hsla(0, 0%, 99%, 0.78);
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 0;
    padding: 0;
    min-width: 200px;
  }
}
