ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 1em;

  li {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    margin: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .memory {
    background-image: url('./memory.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;

    &:hover {
      background-color: transparentize(grey, 0.5);
    }
  }

  .tictac {
    background-image: url('./Tic_Tac_Toe.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;
    border: 1px solid #888;
  }

  .onelist {
    background-image: url('./goldenList.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;
  }
}
