.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 1em;

  li {
    list-style: none;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 0.5s ease-in-out;
    box-shadow: 10px 10px 5px #888;
    color: transparent;

    &:hover {
      background-color: #b3ab9e;
      color: black;
      // opacity: 1;
    }

    p {
      padding: 10px;
    }

    .colorPicker {
      background-image: url('./color_picker.png');
    }

    .memory {
      background-image: url('./Memory.png');
      background-position: center;
      background-size: cover;
      opacity: 1;
    }
  }

  .tictac {
    // background-image: url('./Tic_Tac_Toe.png');
  }

  .onelist {
    // background-image: url('./goldenList.png');
  }
}
