ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 1em;

  li {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    margin: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: goldenrod;
  }

  .memory {
    background-image: url('./memory.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;
    filter: grayscale(0) blur(0);
    transition: 0.3s ease-in-out;

    &:hover {
      filter: grayscale(100%) blur(3px);
      text-align: center;
    }
  }

  .tictac {
    background-image: url('./Tic_Tac_Toe.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;
    border: 1px solid #888;
    filter: grayscale(0) blur(0);
    transition: 0.3s ease-in-out;
    color: goldenrod;

    &:hover {
      filter: grayscale(100%) blur(3px);
      color: goldenrod;
      font-family: 'Roboto', san-serif;
    }
  }

  .onelist {
    background-image: url('./goldenList.png');
    box-shadow: 10px 10px 5px #888;
    background-position: center;
    filter: grayscale(0) blur(0);
    transition: 0.3s ease-in-out;

    &:hover {
      filter: grayscale(100%) blur(3px);
      color: goldenrod;
      font-family: 'Roboto', san-serif;
    }
  }
}
