.memory {
  background-image: url('./memory.png');
  box-shadow: 10px 10px 5px #888;
  background-position: center;
  filter: grayscale(0) blur(0);
  transition: 0.3s ease-in-out;

  &:hover {
    filter: grayscale(100%) blur(3px);
    color: goldenrod;
    font-family: 'Roboto', san-serif;
  }
}
