h4 {
  text-align: center;
}

.github {
  background-image: url('./github.svg');
  background-position: center;
  height: 75px;
  width: 75px;
  // border-radius: 50px;
}

.twitter {
  background-image: url('./Twitter_Logo_Blue.svg');
  background-position: center;
  height: 75px;
  width: 75px;
}

.medium {
  background-image: url('./medium-m-light-100px.png');
  background-position: center;
  height: 75px;
  width: 75px;
}

.linkedin {
  background-image: url('./github.svg');
  background-position: center;
  height: 75px;
  width: 75px;
}
