
h4 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 2em;
}

.social {
  font-size: 40px;
  min-width: 50vw;
  color: black;
  padding: 1em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  box-shadow: 0;
}
